body {
  margin: 20px;
  background-color: #ffffff;
}
body, p, th, td, input, textarea, select {
  font-size: 12px;
  font-family: verdana,arial,helvetica,sans-serif;
}
.text {
  font-size: 12px;
  font-family: verdana,arial,helvetica,sans-serif;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
  color: #444444;
}
h6 {
  font-size: 11px;
  font-weight: normal;
}
b {
  font-size: 12px;
}
pre {
  font-size: 12px;
  font-family: courier,monospace;
}
a {
  text-decoration: none;
}
a:link {
  color: #003399;
}
a:visited {
  color: #003399;
}
a:hover {
  color: #33cc99;
}
font.new {
  color: #ff3333;
  font-size: 11px;
  font-style: italic;
}
font.header {
  font-size: 11px;
}
font.small {
  font-size: 10px;
}
font.current {
  color: #444444;
}
font.missing {
  color: #ffffff;
}
font.selected {
  color: #005050;
}
font.title1 {
  color: #660033;
  font-size: 16px;
  font-weight: bold;
  font-family: verdana,arial,helvetica,sans-serif;
}
font.title2 {
  color: #003366;
  font-size: 16px;
  font-weight: bold;
  font-family: verdana,arial,helvetica,sans-serif;
}
font.title3 {
  color: #005050;
  font-size: 16px;
  font-weight: bold;
  font-family: verdana,arial,helvetica,sans-serif;
}
font.title4 {
  color: #663300;
  font-size: 16px;
  font-weight: bold;
  font-family: verdana,arial,helvetica,sans-serif;
}
font.title5 {
  color: #440066;
  font-size: 16px;
  font-weight: bold;
  font-family: verdana,arial,helvetica,sans-serif;
}
h4.title10 {
  color: #660033;
}
h3.title10 {
  color: #660033;
}
h2.title10 {
  color: #660033;
}
b.title10 {
  color: #660033;
}
h4.title20 {
  color: #003366;
}
h3.title20 {
  color: #003366;
}
h2.title20 {
  color: #003366;
}
b.title20 {
  color: #003366;
}
h4.title30 {
  color: #005050;
}
h3.title30 {
  color: #005050;
}
h2.title30 {
  color: #005050;
}
b.title30 {
  color: #005050;
}
h4.title40 {
  color: #663300;
}
h3.title40 {
  color: #663300;
}
h2.title40 {
  color: #663300;
}
b.title40 {
  color: #663300;
}
h4.title50 {
  color: #440066;
}
h3.title50 {
  color: #440066;
}
h2.title50 {
  color: #440066;
}
b.title50 {
  color: #440066;
}
td.td00 {
  background-color: #f5e05f;
}
td.td10 {
  background-color: #f0e0e4;
}
td.td20	{
  background-color: #d4e4f0;
}
td.td30	{
  background-color: #e0f0e0;
}
td.td40	{
  background-color: #f2e9b6;
}
td.td50	{
  background-color: #e4ddf8;
}
td.td60	{
  background-color: #fccc99;
}
table.frame0 {
  border: 2px solid #f5e05f;
  border-collapse: collapse;
}
table.frame1 {
  border: 2px solid #f0e0e4;
  border-collapse: collapse;
}
table.frame2 {
  border: 2px solid #d4e4f0;
  border-collapse: collapse;
}
table.frame3 {
  border: 2px solid #e0f0e0;
  border-collapse: collapse;
}
table.frame4 {
  border: 2px solid #f2e9b6;
  border-collapse: collapse;
}
table.frame5 {
  border: 2px solid #e4ddf8;
  border-collapse: collapse;
}
table.frame50 {
  border-top: 4px solid #e4ddf8;
  border-collapse: collapse;
}
table.frame6 {
  border: 2px solid #fccc99;
  border-collapse: collapse;
}
hr.frame0 {
  border: 1px solid #f5e05f;
}
hr.frame1 {
  border: 1px solid #f0e0e4;
}
hr.frame2 {
  border: 1px solid #d4e4f0;
}
hr.frame3 {
  border: 1px solid #e0f0e0;
}
hr.frame4 {
  border: 1px solid #f2e9b6;
}
hr.frame5 {
  border: 1px solid #e4ddf8;
}
hr.frame50 {
  border: 2px solid #e4ddf8;
}
hr.frame30 {
  border: 0px solid #005050;
  background-color: #005050;
  height: 1px;
}
#main {
  margin: 4px 20px 4px 20px;
  text-align: left;
}
div.indent {
  margin-left: 20px;
}
div.indent ul {
  margin: 10px 0;
  padding: 0;
}
div.indent ol {
  margin: 10px 0;
  padding: 0;
}
div.indent li {
  margin-left: 30px;
  padding-left: 0;
}
div.indent dl {
  margin: 10px 0;
  padding: 0;
}
div.indent dd {
  margin-left: 30px;
  padding-left: 0;
}
div.frame0 table {
  border: 1px solid #444444;
  border-collapse: collapse;
}
div.frame0 th {
  border: 1px solid #444444;
  border-collapse: collapse;
}
div.frame0 td {
  border: 1px solid #444444;
  border-collapse: collapse;
}
div.frame1 table {
  border: 2px solid #f0e0e4;
  border-collapse: collapse;
}
div.frame1 th {
  border: 2px solid #f0e0e4;
  border-collapse: collapse;
}
div.frame1 td {
  border: 2px solid #f0e0e4;
  border-collapse: collapse;
}
div.frame2 table {
  border: 2px solid #d4e4f0;
  border-collapse: collapse;
}
div.frame2 th {
  border: 2px solid #d4e4f0;
  border-collapse: collapse;
}
div.frame2 td {
  border: 2px solid #d4e4f0;
  border-collapse: collapse;
}
div.frame3 table {
  border: 2px solid #e0f0e0;
  border-collapse: collapse;
}
div.frame3 th {
  border: 2px solid #e0f0e0;
  border-collapse: collapse;
}
div.frame3 td {
  border: 2px solid #e0f0e0;
  border-collapse: collapse;
}
div.frame4 table {
  border: 2px solid #f2e9b6;
  border-collapse: collapse;
}
div.frame4 th {
  border: 2px solid #f2e9b6;
  border-collapse: collapse;
}
div.frame4 td {
  border: 2px solid #f2e9b6;
  border-collapse: collapse;
}
div.frame5 table {
  border: 2px solid #e4ddf8;
  border-collapse: collapse;
}
div.frame5 th {
  border: 2px solid #e4ddf8;
  border-collapse: collapse;
}
div.frame5 td {
  border: 2px solid #e4ddf8;
  border-collapse: collapse;
}
div.frame6 table {
  border: 2px solid #fccc99;
  border-collapse: collapse;
}
div.frame6 th {
  border: 2px solid #fccc99;
  border-collapse: collapse;
}
div.frame6 td {
  border: 2px solid #fccc99;
  border-collapse: collapse;
}
li.ref {
  font-size: 10px;
}
div.list2 tr {
  vertical-align: top;
}
div.list2 td {
  text-align: center;
}
div.list2 h3 {
  font-size: 16px;
  color: #003366;
}
div.list2 h4 {
  font-size: 14px;
  color: #003366;
}
font.rm {
  color: #003366;
  font-weight: bold;
}
font.rs {
  color: #003366;
  font-weight: bold;
}
#menu {
  margin: 10px;
}
#menu ul {
  margin: 20px 0;
  padding: 0;
}
#menu li {
  margin-left: 4px;
  padding-left: 0;
  padding-top: 1px;
  padding-bottom: 1px;
  list-style: none;
}
#menu li.current {
  margin-left: 4px;
  padding-left: 0;
  padding-top: 1px;
  padding-bottom: 1px;
  list-style: none;
  color: #005050;
}
#sidebar {
  margin: 10px;
}
#sidebar ul {
  margin: 20px 0;
  padding: 0;
}
#sidebar li {
  margin-left: 4px;
  padding-left: 0;
  padding-top: 1px;
  padding-bottom: 1px;
  list-style: none;
}
#sidebar li.current {
  margin-left: 4px;
  padding-left: 0;
  padding-top: 1px;
  padding-bottom: 1px;
  list-style-image: url(/Fig/arrow.gif);
  color: #005050;
}
.btn {
  display: inline-block;
  padding: 1px 6px;
  font-size: 12px;
  color: #039;
  background: #eee;
  border-top: solid 1px #999;
  border-bottom: solid 2px #666;
  border-left: solid 1px #999;
  border-right: solid 2px #666;
  border-radius: 4px;
}
.btn:hover {
  color: #e40;
}
.btn:active {
  border-top: solid 2px #666;
  border-bottom: solid 1px #999;
  border-left: solid 2px #666;
  border-right: solid 1px #999;
}
